.add:hover {
    background-color: whitesmoke;
    color: #282828;
}

.changeStyle>p {
    text-decoration: line-through;
    font-size: 22px;
    font-weight: 800;
    color: rgb(228, 35, 35);
    letter-spacing: 2px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.butDel:hover {
    color: aliceblue;
    background-color: rgb(133, 0, 0);
}

.butEd:hover {
    color: aliceblue;
    background-color: rgb(4, 56, 4);
}

.butComl:hover {
    color: white;
    background-color: #3d3c3c;
    box-shadow: 0px 4px 4px  grey;
}

.imagesDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 15px;
}

.imagesDiv > div {
    border: 1px solid #282828;
    padding: 10px;
    border-radius: 10px;
}
